<div class="header pb-8 pt-5 pt-lg-8 align-items-center bg-gradient-danger">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid align-items-center">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="display-2 text-white">{{ shop.name }}</h1>
          <p class="text-white mt-0 mb-5">
            <i class="ni ni-pin-3"></i> {{ shop.city }}, {{ shop.address }}
            <br>
            <i class="ni ni-mobile-button"></i> {{ shop.phone }}
            <br>
            <i class="ni ni-email-83"></i> {{ shop.email }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center">
              <p>Wygląd sklepu</p>
              <button *ngIf="id == 0" (click)="addRectangle()" class="btn btn-primary">Dodaj sektor</button>
              <button *ngIf="id == 0" (click)="exportObjects()" class="btn btn-success">Zapisz schemat</button>
              <canvas class="mt-1" #myCanvas width="600" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <h2>Twoje produkty</h2>
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nazwa</th>
                  <th scope="col">Opis</th>
                  <th scope="col">Kategoria</th>
                  <th scope="col">Cena</th>
                  <th scope="col">ID półki</th>
                  <th scope="col">Akcje</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of productList">
                      <td>{{ item.name }}</td>
                      <td>{{ item.description }}</td>
                      <td>{{ item.category }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{ item.shelfId }}</td>
                      <td><a (click)="selectShelveByProduct(item.id, item.shelfId)" href="javascript:void(0);"><i class="ni ni-active-40"></i> Pokaż</a></td>
                    </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>    