canvas {
    border: 1px solid black;
}

.pt-lg-8, .py-lg-8{
  padding-top: 2rem !important;
}

.pb-8, .py-8{
  padding-bottom: 6rem !important;
}

h2{
  text-align: center;
  padding-bottom: 2rem;
}
