.mt--8{
    margin-top: -5.5rem !important;
}

.pt-lg-8, .py-lg-8 {
    padding-top: 2rem !important;
    padding-bottom: 0.2rem !important;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #20244c;
}

.header{
    background-image: url("../../../assets/img/theme/header-background.png") !important;
}

.header-text-wrapper{
    background-color: #20244cf9;
    border-radius: 10px;
    padding: 10px 0;
}

.text-light{
    margin-bottom: 0 !important;
}
