.container{
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: #20254d;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.card-wrapper{
    width: 35%;
    height: auto;
}

.row{
    margin: 0;
}

.form-group{
    margin-bottom: 0.5rem;
}